<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <h3><li><%= "#{@user.first_name}'s Profile" %> </li></h3>
        <h4><li><%= "#{@user.handle}" %> </li></h4>
        <h4><li><%= "#{@user.city}, #{@user.state}" %> </li></h4>
        <h4><li><%= "#{@user.email}" %> </li></h4>
        <h4><li><%= "Joined #{@user.created_at}" %> </li></h4>
        <br>
        <form action="" method="get">
          <button class="btn btn-info btn-block login" type="submit">Followers</button>
        </form>
        <br>
        <form action="/users/new_tweet" method="get">
          <button class="btn btn-info btn-block login" type="submit">SQWK!!</button>
        </form>
        <br>
        <form action="<%= "/users/#{@user.id}/profile" %>" method="post">
          <button class="btn btn-info btn-block login" type="submit">Follow Me</button>
        </form>
      </ul><br>
    </div>

    <div class="col-sm-9">
      <h4><%= "#{@user.first_name}'s Tweets" %></h4>
      <hr>
      <% @tweets.each do |tweet| %>
        <h2><%= "#{@user.handle}" %></h2>
        <h4><%= tweet.body %></h4>
        <h5><%= tweet.created_at %></h5><br>
      <% end %>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>Put the Redirect Back to the Home Page, or own personal Profile</p>
</footer>

</body>
</html>
